header {
	position: absolute;
	top: 0px;
	width: 100%;
	background-color: black;
	height: 40px;
}
.header-container a:first-child{
	display: none;
	float: left;
}


footer {
	height: 40px;
    background-color: black;
    bottom: 0px;
    position: absolute;
    width: 100%;
}